.DS_Store
node_modules
node_modules/**/*
mobile/.expo/*
npm-debug.*
ios/
*.env
mobile/target
mobile/classes
mobile/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
mobile/.lein-*
mobile/.nrepl-port
mobile/.hgignore
mobile/.hg/
mobile/figwheel_server.log
mobile/main.js
mobile/.js-modules.edn
mobile/env/dev/env/dev.cljs
mobile/env/dev/env/index.cljs
